@import url("https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-main-blue: #7a99b4;
  --color-dark-blue: #536c82;
  --color-light-gray: #cecece;

  --font-roboto: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "LXGW WenKai Mono TC", "Roboto", sans-serif;
  width: 100%;
  min-height: 100vh;
  cursor: none;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: none;
}

@keyframes spin {
  from {
    transform: translate(-50%, 0) rotate(0deg);
  }
  to {
    transform: translate(-50%, 0) rotate(360deg);
  }
}

.waveBg {
  animation: spin 15s linear infinite;
  transform-origin: center center;
}
